body {
    padding-top: 70px;

    font-size: 14px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
}

pre {
    background-color: transparent;
    border: none;
}

.nav-avatar {
    margin: 10px 15px;
    width: 40px;
}

.subnav {
    margin-bottom: 22px;
}

.tags-input {
    width: 120px;
    display: inline;
}

/* widget */

.page-header legend {
    font-size: 24px;
    font-weight: bold;
}

.page-header legend small {
    font-size: 14px;
    font-weight: normal;
    margin-top: 12px;
}

.btn-wide {
    padding-left: 45px;
    padding-right: 45px;
}

/* tagmanager */

span.tm-tag {
    border: none;
    box-shadow: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px 12px;
    margin: 5px 5px 5px 0;
    background-color: #eee;
}

/* article */


/* news */
@media (min-width: 768px) {
    .deliver-source-form .form-group {
        width: 58%;
    }

    .deliver-source-form .form-group .deliver-source-input {
        width: 100%;
    }

    .deliver-source-submit {
        float: right;
    }
}

.news-item {
    padding-left: 15px;
}

.news-digg {
}

.news-digg a {
    margin-top: 35px;
    padding: 3px 9px;
}

.news-digg a i {
    font-size: 30px;
}

.news-digg p {
    margin-top: 10px;
}

.news-digg p span {
    font-weight: bold;
    font-size: 22px;
}


/* ask */

/* group */

/* event */

/* comment */