body {
    min-height: 2000px;
    padding-top: 70px;

    font-size: 14px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
}

.page-header h2 {
    font-size: 24px;
    font-weight: bold;
}

.btn-wide {
    padding-left: 45px;
    padding-right: 45px;
}

/* news */
@media (min-width: 768px) {
    .deliver-source-form .form-group {
        width: 58%;
    }

    .deliver-source-form .form-group .deliver-source-input {
        width: 100%;
    }

    .deliver-source-submit {
        float: right;
    }
}
